body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #D3D3D3;
}

.create-container {
    margin-top: 20px;
}

.error-box {
    border: 1px solid #ff4d4f;
    padding: 20px;
    background-color: #fff1f0;
    display: inline-block;
}

h1 {
    color: #0d1423;
}

.login-container {
    margin-top: 20px;
}