<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Recipe Catagories</title>
</head>
<body>
<h1 style="
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
">Here's a list of different recipe types to find!</h1>
  <h2>Appetizers</h2>
    <p></p>
    <p></p>
  <h2>Main Dish</h2>
    <p></p>
    <p></p>
  <h2>Deserts</h2>
    <p></p>
    <p></p>
</body>
</html>
