<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Categories</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body {
        background-color: #00008b
        }
    </style>
</head>
<body>
<div th:replace="fragments/topnav.html :: navbar"> </div>
<h1>Here's a list of different recipe types to find!</h1>
  <h2>Appetizers</h2>
    <p>Onion Rings with tomato sauce</p>
    <p>Gyros with Chips</p>
  <h2>Main Dish</h2>
    <p>Steak with green beans</p>
    <p>Bacon Cheeseburger with BBQ Sauce</p>
  <h2>Deserts</h2>
    <p>Cheesecake with Strawberries</p>
    <p>Pumpkin Pie with Icing</p>
</body>
</html>
