<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" >
</head>
<body>

<div class="error-box">
    <p>Something went wrong. :(</p>

    <div th:if="${error}">
        <p><strong>Details:</strong></p>
        <p th:text="${error}"></p>
    </div>

    <p><a href="home.html">Go to Home Page</a></p>
</div>

</body>
</html>