<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Recipe</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" >
    <style>
        body {
        background-color: #808080
        }
    </style>
</head>
<body>

<div th:replace="fragments/topnav.html :: navbar"></div>

<div class="container mt-5">

    <img th:if="${recipe.recipeImageUrl != null}"
         th:src="${recipe.recipeImageUrl}"
         class="card-img-top"
         alt="Recipe Image"
         style="height: 200px; object-fit: contain;">
    <div th:if="${recipe.recipeImageUrl == null}"
         class="card-img-top bg-light d-flex align-items-center justify-content-center"
         style="height: 200px;">
        <span class="text-muted">No image</span>
    </div>

    <h1 th:text="${recipe.recipeName}">Recipe Name</h1>
    <p><strong>Create By:</strong> <span th:text="${recipe.recipeCreatedBy}">Created By</span></p>
    <p><strong>Category:</strong> <span th:text="${recipe.recipeCategory}">Category</span></p>
    <p><strong>Likes:</strong> <span th:text="${recipe.recipeLikes}">Likes</span></p>
    <p><strong>Description:</strong></p>
    <p th:text="${recipe.recipeDescription}">Description</p>
    <p><strong>Ingredients:</strong></p>
    <p th:text="${recipe.recipeIngredients}">Ingredients</p>

    <div class="d-flex gap-3 mt-3">

        <a href="/home" class="btn btn-secondary">Back to Home</a>

        <form th:action="@{/recipe/like/{id}(id=${recipe.recipeId})}" method="post" class="m-0">
            <button class="btn btn-primary">👍 Like</button>
        </form>


    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
