<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    body {
    background-color: #00008b
    }
</head>
<body>
<div th:replace="fragments/topnav.html :: navbar"> </div>
<div class="container mt-3">
    <h1>User Index</h1>
    <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
            <img class="img-thumbnail" src="../static/images/GenericProfile.jpg" alt="">
            <ul class="list-group margin-bottom-40">
                <li class="list-group-item">
                    <a href="userIndex.html"> Profile</a>
                </li>
                <li class="list-group-item">
                    <a href="#"> Recipes</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Comments</a>
                </li>
                <li class="list-group-item">
                    <a href="#"> Favorites</a>
                </li>
                <li class="list-group-item">
                    <a href="#"> Settings</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 text-content">
            <h1 th:text="${userName}">John Doe</h1>
            <h2 class="text-primary">Bio</h2>
            <hr/>
            <p th:text="${profileDescription}">This is an example bio.</p>
        </div>
    </div>
</div>
</body>
</html>